<header>
  <h1>{{title}}</h1>
</header>

<section class="search-section">
  <form (ngSubmit)="onSearch()">
    <input type="text" [(ngModel)]="searchCityName" name="cityNameInput" placeholder="Enter city name"
      aria-label="City Name">
    <button type="submit">Search</button>
  </form>
</section>

<main>
  <section class="loading-indicator" *ngIf="isLoading">
    <p>Loading...</p>
  </section>

  <section class="error-message" *ngIf="errorMessage && !isLoading">
    <p>{{errorMessage}}</p>
  </section>

  <section class="weather-display" *ngIf="weatherData && !isLoading && !errorMessage">
    <h2>Current Weather in {{weatherData.location.name}}</h2>

    <div>
      <strong>Temperature:</strong> {{ weatherData.current.temp_c}} °C
    </div>

    <div>
      <strong>Condition:</strong>{{ weatherData.current.condition.text}}
    </div>

    <div>
      <img
        [src]="weatherData.current.condition.icon.startsWith('//') ? 'https:' + weatherData.current.condition.icon: weatherData.current.condition.icon"
        [alt]="weatherData.current.condition.text">
    </div>

    <div>
      <strong>Feels Like:</strong> {{weatherData.current.feelslike_c}} °C
    </div>

    <div>
      <strong>Humidity:</strong> {{weatherData.current.humidity}}%
    </div>

    <div>
      <strong>Wind Speed:</strong> {{weatherData.current.wind_kph}} km/h
    </div>
  </section>
</main>