<header>
  <h1>{{title}}</h1>
</header>

<section class="search-section">
  <form (ngSubmit)="onSearch()">
    <input type="text" [(ngModel)]="searchCityName" name="cityNameInput" placeholder="Enter city name"
      aria-label="City Name">
    <button type="submit">Search</button>
  </form>
</section>

<main>
  <section class="loading-indicator" *ngIf="isLoading">
    <p>Loading...</p>
  </section>

  <section class="error-message" *ngIf="errorMessage && !isLoading">
    <p>{{errorMessage}}</p>
  </section>

  <section class="weather-display" *ngIf="weatherData && !isLoading && !errorMessage">
    <h2>{{weatherData.location.name}}</h2>

    <div class="weather-main">
      <img [src]=" weatherData.current.condition.icon" [alt]="weatherData.current.condition.text">
      <p class="condition-text">{{weatherData.current.condition.text}}</p>
      <p class="temp">{{weatherData.current.temp_c}}°C</p>
    </div>

    <div class="weather-info-grid">
      <div class="weather-detail">
        <strong>Feels Like</strong><span>{{weatherData.current.feelslike_c}} °C</span>
      </div>
      <div class="weather-detail">
        <strong>Humidity</strong><span>{{weatherData.current.humidity}}%</span>
      </div>
      <div class="weather-detail">
        <strong>Wind Speed</strong><span>{{weatherData.current.wind_kph}} km/h</span>
      </div>
    </div>
  </section>
</main>