<h1 mat-dialog-title>New Task</h1>
<div mat-dialog-content [formGroup]="taskForm">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" cdkFocusInitial>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Assignee</mat-label>
        <input matInput formControlName="assignee">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
            @for (priority of priorities; track $index) {
            <mat-option [value]="priority">
                {{ priority }}
            </mat-option>
            }
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()" [disabled]="taskForm.invalid">Save</button>
</div>